<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agitate!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Scotty Weeks, Ian Rogers, et. al.">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
