$narrow  : "(min-width: 0) and (max-width: 320px)";
$mobile  : "(min-width: 321px) and (max-width: 570px)";
$tablet  : "(min-width: 571px) and (max-width: 820px)";
$desktop : "(min-width: 821px) and (max-width: 1070px)";
$big     : "min-width: 1071px";

$orange: #e6784a;
$lt-grey: #a5a5a5;


// iOS

$ipad-width: 768px;
$ipad-height: 1024px;

$iphone-6-width: 375px;
$iphone-6-height: 667px;

$iphone-6p-width: 414px;
$iphone-6p-height: 736px;

$iphone-5-width: 320px;
$iphone-5-height: 568px;

$ios-map: (
  ipad: ( width: 768px, height: 1024px),
  iphone-6: (width: 375px, height: 667px),
  iphone-6-plus: (width: 414px, height: 736px),
  iphone-5: (width: 320px, height: 568px)
);

