/* This file is for your main application css. */
@import "variables";
@import "mixins";
@import "vendor/media-queries";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#app {
  @media only screen and (min-width: 1024px) {
    text-align: center;
    margin: auto;
    width: 900px;
  }
}

.agitate {
  text-align: left;
}


.leaflet-container {
  border-bottom: 1px solid $orange;
  height: 70vh;
  @include mobile-portrait {
    height: 45vh;
  }
  @include mobile-landscape {
    height: 45vh;
  }
}

.district-info {
  padding-top: 1em;
  @include gutters;
  p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.zip-prompt {
  @include gutters;
  text-align: center;
  margin: auto;
  width: 93.75%;
  .zip-prompt-form {
    text-align: left;
  }
}

.zip-prompt-input {
  border-radius: 4px;
  border: 1px solid $lt-grey;
  padding: 0.25em;
}
.zip-prompt-button {
  display: inline-block;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: $orange;
  border: none;
  margin-left: 0.5em;
  padding: 0.25em;
}

.district-label span {
  font-weight: bold;
}

.district-label-state, .representative-name, .district-label-state, .district-label-name {
  display: inline-block;
}

.district-score {
  font-weight: bold;
  font-size: 2em;
  color: $orange;
  margin: 0;
}

.representative-phone, .representative-fb, .representative-twitter {
  display: inline-block;
  margin-right: 0.5em;
  a {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
  }
}

