/* This file is for your main application css. */
@import "reset";
@import "variables";
@import "mixins";
@import "vendor/media-queries";

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $text-color;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  color: black;
}

main {
  position: relative;
  height: 100%;
}

.big-logo {
  position: relative;
  text-align: center;
  img {
    width: 80%;
    margin: 1rem auto 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    margin-top: 1rem;
  }
}

.small-logo {
  img {
    margin: 0.5rem 0.5rem 0 1rem;
    height: 35px;
  }
  h1 {
    display: inline-block;
    font-size: 1.5rem;
  }
}

.home-blurb {
  margin: 1.5rem 1.5rem 0;
  h2 {
    font-size: 1.2rem;
  }
  p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .learn-more {
    text-align: right;
  }
  // FIXME refactor to top level link class
  a {
    color: $text-color;
    text-decoration: none;
    font-size: 0.6rem;
  }
}

.zip-prompt {
  margin: 1rem 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.zip-prompt-form {
  text-align: left;
  width: 260px;
  margin: auto;
  input[type=text] {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 0.25rem;
    text-align: center;
    border: 1px solid $text-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    width: 210px;
    background: url(/images/search-icon.png) 0.75rem 50% no-repeat;
  }
  button {
    float: right;
    border: 0;
    height: 22px;
    width: 22px;
    margin-top: 13px;
    background: url(/images/location-icon.png) center no-repeat;
  }
}


.info-blurb {
  margin: 2rem 1.5rem 2rem 2rem;
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.3;
  }
}

.leaflet-container {
  border-bottom: 1px solid $lt-grey;
  width: 100vw;
  height: 45vh;
  margin-top: 0.5rem;
}

.district-info {
  padding: 0 1rem .5rem;
  border-bottom: 1px solid $lt-grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.district-label {
  h2 {
    margin-top: 0.5rem;
    color: black;
  }
}

.district-scoring {
  margin-top: 0.5rem;
  display: flex;
}

.district-chart {
  flex: 0 1;
  svg {
    transform: rotate(90deg);
    fill: none;
    stroke: $text-color;
    stroke-width: 15;
    stroke-dasharray: 80 157;
  }
}
.district-chart-caption {
  text-align: center;
  font-size: 0.75rem;
}

.district-score {
  flex: 1 1;
  font-size: 1rem;
  margin: 0;
  min-height: 70px;
  span {
    display: inline-block;
    margin-right: 0.25rem;
  }
}

.district-score-values {
  height: 75px;
}

.district-score-number {
  color: black;
}

.district-share {
  padding-left: 2rem;
  a {
    color: $text-color;
    text-transform: capitalize;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25rem;
  }
}

.loader.is-fetching {
  position: absolute;
  z-index: 1024;
  pointer-events: none;
  // see map
  height: 45vh;
  width: 100vw;
  margin-top: 0.5rem;
  background: url(/images/loading.png) center no-repeat;/*,
              url(/images/agitate-loading-background.jpg) center/cover no-repeat;*/
}

.representative-info {
  margin: 1rem 1rem;
  .representative-image {
    float: left;
    width: 67px;
    height: 67px;
    clip-path: circle(33.5px at center);
    -webkit-clip-path: circle(33.5px at center);
    -moz-clip-path: circle(3.53px at center);
    margin-right: 18px;
    background-color: $text-color;
    img {
      margin-top: 1px;
      margin-left: 1px;
      width: 65px;
      height: 65px;
      clip-path: circle(32.5px at center);
      -webkit-clip-path: circle(32.5px at center);
      -moz-clip-path: circle(32.5px at center);
    }
  }
  p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}

p.representative-name {
  font-size: 1rem;
  color: black;
}

.social {
  margin-top: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex: 1 1;
  align-items: center;
  .social-label {
    display: inline-block;
    font-weight: bold;
  }
  .icn {
    display: block;
    text-indent: -2000em;
    width: 25px;
    height: 25x;
    padding: 0.5em;
  }
  .representative-phone {
    background: url(/images/phone-icon.png) center no-repeat;
  }
  .representative-twitter {
    background: url(/images/twitter-icon.png) center no-repeat;
  }
  .representative-fb {
    background: url(/images/fb-icon.png) center no-repeat;
  }
}

/* // responsive */
/* @media only screen and (min-width: 1024px) { */
/*   #app { */
/*     text-align: center; */
/*     .agitate { */
/*       width: 900px; */
/*       margin: auto; */
/*       text-align: left; */
/*     } */
/*   } */

/*   .leaflet-container, .map-content { */
/*     width: 100%; */
/*     height: 65vh; */
/*   } */
/* } */




// dumb namespace thing here.
// TODO split this up in Brunch
@import "developers";
