/* This file is for your main application css. */
@import "reset";
@import "variables";
@import "mixins";
@import "vendor/media-queries";

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4A4A4A;
}

main {
  position: relative;
  height: 100%;
}

#app {
  @media only screen and (min-width: 1024px) {
    text-align: center;
    margin: auto;
    width: 900px;
    .agitate {
      text-align: left;
    }
  }
}


.leaflet-container, .map-content {
  border-bottom: 1px solid $orange;
  width: 100vw;
  height: 50vh;
}

.district-info {
  box-sizing: border-box;
  padding: 1em 2em 0;
  p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.map-content {
  background: url(/images/agitate-loading-background.jpg) center/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.is-loading {
    background: url(/images/loading.png) center no-repeat,
                url(/images/agitate-loading-background.jpg) center/cover no-repeat;
  }
  &.error {
    .zip-prompt-input {
      border-color: #C00;
    }
  }
}
.zip-prompt-form {
  padding: 0;
  margin: 0;
  max-width: 375px;
}
.zip-prompt-input {
  border-radius: 2px;
  border: 1px solid $lt-grey;
  padding: 0.25em;
  width: 130px;
}
.zip-prompt-button {
  display: inline-block;
  border-radius: 2px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: $orange;
  border: none;
  margin-left: 0.5em;
  padding: 0.25em;
}

.district-label span {

}

.district-label-state, .representative-name, .district-label-state, .district-label-name {
  font-size: 18px;
  display: inline-block;
}

.district-label-state {
  background: url(/images/congress-icon.png) left no-repeat;
  padding-left: 1.2em;
}


.district-score {
  font-weight: bold;
  font-size: 2em;
  color: $orange;
  margin: 0;
  padding-top: 18px;
  padding-left: 85px;
  min-height: 70px;
  &.gop {
    background: url(/images/gop-icon.png) left no-repeat;
  }
}

.representative-contact {
  .representative-image {
    float: left;
    width: 65px;
    height: 65px;
    clip-path: circle(32.5px at center);
    -webkit-clip-path: circle(32.5px at center);
    -moz-clip-path: circle(32.5px at center);
    margin-right: 18px;
  }
}

.representative-information {
  font-size: 14px;
}

.social {
  clear: both;
  padding-top: 1em;
  display: flex;
  flex: 1 1;
  align-items: center;
  .social-label {
    display: inline-block;
    font-size: 2em;
    color: $orange;
    padding-left: 1em;
    text-transform: lowercase;
    font-weight: medium;
    padding-right: 0.5em;
  }
  .icn {
    display: block;
    text-indent: -2000em;
    width: 43px;
    height: 43px;
    padding: 0.5em;
  }
  .representative-phone {
    background: url(/images/phone-icon.png) center no-repeat;
  }
  .representative-twitter {
    background: url(/images/twitter-icon.png) center no-repeat;
  }
  .representative-fb {
    background: url(/images/fb-icon.png) center no-repeat;    
  }
}


// dumb namespace thing here.
// TODO split this up in Brunch
@import "developers";
