/* This file is for your main application css. */
@import "reset";
@import "variables";
@import "mixins";
@import "vendor/media-queries";

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $text-color;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  color: black;
}

main {
  position: relative;
  height: 100%;
}

.big-logo {
  position: relative;
  text-align: center;
  img {
    width: 80%;
    margin: 1rem auto 0;
  }
  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    margin-top: 1rem;
  }
}

.small-logo {
  img {
    margin: 0.5rem 0.5rem 0 1rem;
    height: 35px;
  }
  h1 {
    display: inline-block;
    font-size: 1.5rem;
  }
}

.home-blurb {
  margin: 1.5rem 1.5rem 0;
  h2 {
    font-size: 1.2rem;
  }
  p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .learn-more {
    text-align: right;
  }
  // FIXME refactor to top level link class
  a {
    color: $text-color;
    text-decoration: none;
    font-size: 0.6rem;
  }
}

.zip-prompt {
  margin: 1rem 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.zip-prompt-form {
  text-align: left;
  width: 260px;
  margin: auto;
  input[type=text] {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid $text-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    width: 210px;
    background: url(/images/search-icon.png) 0.75rem 50% no-repeat;
  }
  button {
    float: right;
    border: 0;
    height: 22px;
    width: 22px;
    margin-top: 16px;
    background: url(/images/location-icon.png) center no-repeat;
  }
}


.info-blurb {
  margin: 2rem 1.5rem 2rem 2rem;
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.3;
  }
}


.leaflet-container {
  border-bottom: 1px solid $lt-grey;
  width: 100vw;
  height: 45vh;
  margin-top: 0.5rem;
}

/* .district-info { */
/*   box-sizing: border-box; */
/*   padding: 1em 2em 0; */
/*   p { */
/*     margin-top: 0.25em; */
/*     margin-bottom: 0.25em; */
/*   } */
/* } */

/* .map-content { */
/*   background: #FDFDFDF; /\*url(/images/agitate-loading-background.jpg) center/cover no-repeat;*\/ */
/*   position: relative; */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: center; */
/*   align-items: center; */
/*   &.is-loading { */
/*     background: url(/images/loading.png) center no-repeat, */
/*                 url(/images/agitate-loading-background.jpg) center/cover no-repeat; */
/*   } */
/*   &.error { */
/*     .zip-prompt-input { */
/*       border-color: #C00; */
/*     } */
/*   } */
/* } */
/* .zip-prompt-form { */
/*   padding: 0; */
/*   margin: 0; */
/*   max-width: 375px; */
/* } */
/* .zip-prompt-input { */
/*   border-radius: 2px; */
/*   border: 1px solid $lt-grey; */
/*   padding: 0.25em; */
/*   width: 130px; */
/* } */
/* .zip-prompt-button { */
/*   display: inline-block; */
/*   border-radius: 2px; */
/*   font-size: 18px; */
/*   color: #FFFFFF; */
/*   background-color: $orange; */
/*   border: none; */
/*   margin-left: 0.5em; */
/*   padding: 0.25em; */
/* } */

/* .district-label span { */

/* } */

/* .district-label-state, .representative-name, .district-label-state, .district-label-name { */
/*   font-size: 18px; */
/*   display: inline-block; */
/* } */

/* .district-label-state { */
/*   background: url(/images/congress-icon.png) left no-repeat; */
/*   padding-left: 1.2em; */
/* } */


/* .district-score { */
/*   font-weight: bold; */
/*   font-size: 2em; */
/*   color: $orange; */
/*   margin: 0; */
/*   padding-top: 18px; */
/*   padding-left: 85px; */
/*   min-height: 70px; */
/*   &.gop { */
/*     background: url(/images/gop-icon.png) left no-repeat; */
/*   } */
/* } */

/* .representative-contact { */
/*   .representative-image { */
/*     float: left; */
/*     width: 65px; */
/*     height: 65px; */
/*     clip-path: circle(32.5px at center); */
/*     -webkit-clip-path: circle(32.5px at center); */
/*     -moz-clip-path: circle(32.5px at center); */
/*     margin-right: 18px; */
/*   } */
/* } */

/* .representative-information { */
/*   font-size: 14px; */
/* } */

/* .social { */
/*   clear: both; */
/*   padding-top: 1em; */
/*   display: flex; */
/*   flex: 1 1; */
/*   align-items: center; */
/*   .social-label { */
/*     display: inline-block; */
/*     font-size: 2em; */
/*     color: $orange; */
/*     padding-left: 1em; */
/*     text-transform: lowercase; */
/*     font-weight: medium; */
/*     padding-right: 0.5em; */
/*   } */
/*   .icn { */
/*     display: block; */
/*     text-indent: -2000em; */
/*     width: 43px; */
/*     height: 43px; */
/*     padding: 0.5em; */
/*   } */
/*   .representative-phone { */
/*     background: url(/images/phone-icon.png) center no-repeat; */
/*   } */
/*   .representative-twitter { */
/*     background: url(/images/twitter-icon.png) center no-repeat; */
/*   } */
/*   .representative-fb { */
/*     background: url(/images/fb-icon.png) center no-repeat; */
/*   } */
/* } */

/* // responsive */
/* @media only screen and (min-width: 1024px) { */
/*   #app { */
/*     text-align: center; */
/*     .agitate { */
/*       width: 900px; */
/*       margin: auto; */
/*       text-align: left; */
/*     } */
/*   } */

/*   .leaflet-container, .map-content { */
/*     width: 100%; */
/*     height: 65vh; */
/*   } */
/* } */




// dumb namespace thing here.
// TODO split this up in Brunch
@import "developers";
